<!DOCTYPE html>
<html>


	{% extends 'core/base.html' %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--TITULO DE LA PAGINA-->
{% block title %} Portafolio {% endblock %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--IMAGEN DE FONDO : CABECERA-->
{% block background %}{% load static%}{% static 'core/img/portfolio-bg.jpg' %}{% endblock%}

<!--==============================================================================-->
<!--==============================================================================-->
<!--CABECERA-->
{% block headers %}
<h1>Portafolio</h1>
<span class="subheading">Alguno de mis trabajos</span>
{% endblock %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--CONTENIDO-->
<!--EL CONTENIDO INDIVIDUAL DE CADA UNA DE LAS PAGINAS DEBE ENCONTRARSE ANIDADO 
	DENTRO DEL TEMPLATE TAG "block". ESTO PARA QUE TOME EL CONTENIDO HTML DEL 
	DOCUMENTO DEFINIDO EN EL BLOQUE "extends" E INTERSTE EL "contenido" DENTRO DEL
	TAG "block" DEFINIDO EN EL DOCUMENTO "core/base.html".-->
{% block content %}

	<div class="container">
	    <!-- Proyecto -->
		{% for project in projects %}
	    <!-- Proyecto -->
	    <div class="row project">
	    	<div class="col-lg-3 col-md-4 offset-lg-1">
				<img class="img-fluid" src="{{project.image.url}}" alt="">
			</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">{{project.title}}</h2>   
	          	<p>{{project.description}}</p>

				{% if project.link %}
	          		<p><a href="{{project.link}}" target="_blank">Más información</a></p>
				{% endif %}
	      	</div>
		</div>

		{% endfor %}

	</div>

{% endblock %}



</html>