<!DOCTYPE html>
<html>


{% extends 'core/base.html' %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--TITULO DE LA PAGINA-->
{% block title %} Portafolio {% endblock %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--IMAGEN DE FONDO : CABECERA-->
{% block background %}{% load static%}{% static 'core/img/portfolio-bg.jpg' %}{% endblock%}

<!--==============================================================================-->
<!--==============================================================================-->
<!--CABECERA-->
{% block headers %}
<h1>Portafolio</h1>
<span class="subheading">Alguno de mis trabajos</span>
{% endblock %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--CONTENIDO-->
<!--EL CONTENIDO INDIVIDUAL DE CADA UNA DE LAS PAGINAS DEBE ENCONTRARSE ANIDADO 
	DENTRO DEL TEMPLATE TAG "block". ESTO PARA QUE TOME EL CONTENIDO HTML DEL 
	DOCUMENTO DEFINIDO EN EL BLOQUE "extends" E INTERSTE EL "contenido" DENTRO DEL
	TAG "block" DEFINIDO EN EL DOCUMENTO "core/base.html".-->
{% block content %}

	<div class="container">
		{% for project in object_list %}
	    <div class="row project">
	    	<div class="col-lg-3 col-md-4 offset-lg-1" align = "center">
				<img style="border: 3px solid black" class="img-fluid" src="{{project.image.url}}" alt="{{project.title}}" width="200" height="200">
			</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title" align = "center">{{project.title}}</h2>
	          	<p>{{project.short_description | linebreaksbr}} . . .</p>
				{% if project.detail_description %}
	          		<p><a href="{% url 'portfolio:project' project.id project.title|slugify %}">Más información</a></p>
				{% endif %}
	      	</div>
		</div>

		{% endfor %}

	</div>

{% endblock %}



</html>