<!DOCTYPE html>
<html>


{% extends 'core/base.html' %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--TITULO DE LA PAGINA-->
{% block title %} Portafolio {% endblock %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--IMAGEN DE FONDO : CABECERA-->
{% block background %}{% load static%}{% static 'core/img/portfolio-bg.jpg' %}{% endblock%}

<!--==============================================================================-->
<!--==============================================================================-->
<!--CABECERA-->
{% block headers %}
<h1>Portafolio</h1>
{% endblock %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--CONTENIDO-->
<!--EL CONTENIDO INDIVIDUAL DE CADA UNA DE LAS PAGINAS DEBE ENCONTRARSE ANIDADO 
	DENTRO DEL TEMPLATE TAG "block". ESTO PARA QUE TOME EL CONTENIDO HTML DEL 
	DOCUMENTO DEFINIDO EN EL BLOQUE "extends" E INTERSTE EL "contenido" DENTRO DEL
	TAG "block" DEFINIDO EN EL DOCUMENTO "core/base.html".-->
{% block content %}

	<div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 class="section-heading mb-4" style="text-align:center;">{{project.title}}</h2>
		<div class="row project" >
	    	<div class="col-lg-3 col-md-4 offset-lg-1" align="center">
				<img style="border: 3px solid black" class="img-fluid" src="{{project.image.url}}" alt="{{project.title}}" width="200" height="200">
			</div>
	        <div class="col-lg-7 col-md-8">
	          	<p>{{project.detail_description | linebreaksbr }} </p>
	      	</div>  
			<div class="col-lg-10 col-md-4 offset-lg-1">
				<h4 class="section-heading mb-4" style="text-align:center;">Imagenes - Capturas</h4>
				<div id="CarouselImage" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						{% for x in project_images %}
							{% if x.default %}
								<div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" align="center">
                                    <img src="{{x.image.url}}" class="img-fluid" alt="{{x.name}}" height = "250" width = "250" style="border: 2px solid black" >
                                </div>
							{% endif %}
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" >
						<span class="carousel-control-prev-icon" aria-hidden="true" ></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" >
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			</div>
		</div>
      </div>
    </div>
  </div>

{% endblock %}



</html>