<!DOCTYPE html>
<html>

{% extends 'core/base.html' %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--TITULO DE LA PAGINA-->
{% block title %} Home {% endblock %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--IMAGEN DE FONDO : CABECERA-->
{% block background %}{% load static%}{% static 'core/img/home-bg.jpg' %}{% endblock%}

<!--==============================================================================-->
<!--==============================================================================-->
<!--CABECERA-->
{% block headers %}
<h1>Arturo Daza</h1>
<span class="subheading">Ingeniero Electronico | Programador</span>
{% endblock %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--CONTENIDO-->
<!--EL CONTENIDO INDIVIDUAL DE CADA UNA DE LAS PAGINAS DEBE ENCONTRARSE ANIDADO 
	DENTRO DEL TEMPLATE TAG "block". ESTO PARA QUE TOME EL CONTENIDO HTML DEL 
	DOCUMENTO DEFINIDO EN EL BLOQUE "extends" E INTERSTE EL "contenido" DENTRO DEL
	TAG "block" DEFINIDO EN EL DOCUMENTO "core/base.html".-->
{% block content %}

{% endblock %}

</html>