<!DOCTYPE html>
<html>

<!--==============================================================================-->
<!--==============================================================================-->
<!--CABECERA-->
<!--LA CABECERA SE HEREDARA DESDE LA PLANTILLA BASE "core/base.html" MEDIANTE EL USO
	DE "Template tags" o "tags de etiqueta" LOS CUALES SIRVEN PARA AÑADIR LOGICA DE 
	PROGRAMACION DENTRO DEL PROPIO HTML.

	EN ESTE CASO EL TEMPLATE TAG "extends" SIRVE PARA HEREDAR DESDE OTRO DOCUMENTO
	HTML EL CONTENIDO QUE ESTE.-->
	{% extends 'core/base.html' %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--TITULO DE LA PAGINA-->
<!--EL TITULO INDIVIDUAL DE CADA UNA DE LAS PAGINAS DEBE ENCONTRARSE ANIDADO DENTRO
    DEL TEMPLATE TAG "block". ESTO PARA QUE TOME EL CONTENIDO HTML DEL DOCUMENTO 
    DEFINIDO EN EL BLOQUE "extends" E INTERSTE EL "contenido" DENTRO DEL TAG "block"
    DEFINIDO EN EL DOCUMENTO "core/base.html".-->
{% block title %} Portafolio {% endblock %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--CONTENIDO-->
<!--EL CONTENIDO INDIVIDUAL DE CADA UNA DE LAS PAGINAS DEBE ENCONTRARSE ANIDADO 
	DENTRO DEL TEMPLATE TAG "block". ESTO PARA QUE TOME EL CONTENIDO HTML DEL 
	DOCUMENTO DEFINIDO EN EL BLOQUE "extends" E INTERSTE EL "contenido" DENTRO DEL
	TAG "block" DEFINIDO EN EL DOCUMENTO "core/base.html".-->
{% block content %}

<h2>Portafolio:</h2>

<p>Algunos de los trabajos que he realizado...
	lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet
	pariatur voluptates odit, fuga atque ea nobis sit soluta odio. Lorem ipsum dolor sit amet,
	consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit...</p>

{% endblock %}



</html>