<!DOCTYPE html>
<html>


{% extends 'core/base.html' %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--TITULO DE LA PAGINA-->
{% block title %} Acerca de {% endblock %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--IMAGEN DE FONDO : CABECERA-->
{% block background %}{% load static%}{% static 'core/img/about-bg.jpg' %}{% endblock%}

<!--==============================================================================-->
<!--==============================================================================-->
<!--CABECERA-->
{% block headers %}
<h1>Acerca De</h1>
<span class="subheading">Biografia </span>
{% endblock %}

<!--==============================================================================-->
<!--==============================================================================-->
<!--CONTENIDO-->
<!--EL CONTENIDO INDIVIDUAL DE CADA UNA DE LAS PAGINAS DEBE ENCONTRARSE ANIDADO 
	DENTRO DEL TEMPLATE TAG "block". ESTO PARA QUE TOME EL CONTENIDO HTML DEL 
	DOCUMENTO DEFINIDO EN EL BLOQUE "extends" E INTERSTE EL "contenido" DENTRO DEL
	TAG "block" DEFINIDO EN EL DOCUMENTO "core/base.html".-->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <img style="border: 3px solid black" class="img-fluid avatar" src="{{descripcion.image.url}}" alt="{{descripcion.name}}">
        </div>
        <!--DESCRIPCION PERSONAL-->
        <div class="col-lg-8 col-md-10 mx-auto" style="text-align:justify;">
            <h2 style= "text-align:center;">{{descripcion.name}}</h2>
            <br>
            <div style = "font-size: {{LabelFontSize}};">{{descripcion.description | safe }}</div>
        </div>
    </div>

    <div class = "row" >

        <!--EXPERIENCIA ACADEMICA-->
        {% if EA_Any %}
            <div class="col-lg-8 col-md-10 mx-auto" style="text-align:justify;">
                <hr>
                <h2 style= "text-align:center;">Experiencia Académica</h2>
                <br />
                {% for experiencia in eAcademica %}
                    <p>
                    <div style="font-size: {{ExpFontSize}}; color:#231f20;">{{experiencia.start | date:"F, Y"}} - {{experiencia.end | date:"F, Y"}}</div>
                    <div style="font-size: {{HeaderFontSize}}; color: #7ca655;"><b><i>{{experiencia.title}}</i></b></div>
                    <div style="font-size:18px;"><b>{{experiencia.institute}}</b></div>
                    <div style="font-size: {{ExpFontSize}}; color:#231f20; text-align:justify;">{{experiencia.city}}</div>
                    {% if not forloop.last %}
                    ___________________________________________________________
                    {% endif %}
                    </p>
                {% endfor %}
            </div>
        {% endif %} 
        <!--EXPERIENCIA LABORAL-->
        {% if EL_Any %}
            <div class="col-lg-8 col-md-10 mx-auto">
                <hr>
                <h2 style= "text-align:center;">Experiencia Laboral</h2>
                <br />
                {% for experiencia in eLaboral %}
                    <p>
                    <div style="font-size: {{ExpFontSize}}; color:#231f20;">{{experiencia.start | date:"F, Y"}} - {{experiencia.end | date:"F, Y"}}</div>
                    <div style="font-size: {{HeaderFontSize}}; color: #7ca655;"><b><i>{{experiencia.title}}</i></b></div>
                    <div style="font-size:18px;"><b>{{experiencia.employeer}}</b></div>
                    <div style="font-size: {{ExpFontSize}}; color:#231f20;">
                        {{experiencia.description | safe }}
                    </div>
                    {% if not forloop.last %}
                    ___________________________________________________________
                    {% endif %}
                    </p>
                {% endfor %}
            </div>
        {% endif %}

        <!--HABILIDADES TECNICAS-->
        <!--LENGUAJES-->
        {% if L_Any %}
            <div class="col-lg-8 col-md-10 mx-auto" align = "center">
                <hr>
                <h2 style= "text-align:center">Habilidades Técnicas</h2>
                <br />
                <h3>Lenguajes de Programación:</h3>
                <table>
                    <tr>
                        <th width = "350">Lenguaje</th>
                        <th>Nivel de conocimiento</th>
                    </tr>
                    <br>
                    {% for x in Skill_Idiomas %}
                        {% if x.category == 'lenguajes'%}
                            <tr>
                                <td><p style="font-size: 18px; color: #7ca655;"><b><i>{{x.name}}</i></b></p></td>
                                <td><p>{% if x.knowledge_level == 1 %}
                                    - Básico
                                    {% elif x.knowledge_level == 2 %}
                                    - Intermedio
                                    {% elif x.knowledge_level == 3 %}
                                    - Avanzado
                                    {% endif%}</p>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                <br>
                <p>___________________________________________________________<p>
                <br>
                <h3>Frameworks / Marcos de Trabajo:</h3>
                <table>
                    <tr>
                        <th width = "350">Framework</th>
                        <th>Nivel de conocimiento</th>
                    </tr>
                    <br>
                    {% for x in Skill_Idiomas %}
                        {% if x.category == 'frameworks'%}
                            <tr>
                                <td><p style="font-size: 18px; color: #7ca655;"><b><i>{{x.name}}</i><b></p></td>
                                <td><p>{% if x.knowledge_level == 1 %}
                                    - Básico
                                    {% elif x.knowledge_level == 2 %}
                                    - Intermedio
                                    {% elif x.knowledge_level == 3 %}
                                    - Avanzado
                                    {% endif%}
                                    </p>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                <br>
                <p>___________________________________________________________<p>
                <br>
                <h3>Bases de Datos</h3>
                <table>
                    <tr>
                        <th width = "350">DBs</th>
                        <th>Nivel de conocimiento</th>
                    </tr>
                    <br>
                    {% for x in Skill_Idiomas %}
                        {% if x.category == 'db'%}
                            <tr>
                                <td><p style="font-size: 18px; color: #7ca655;"><b><i>{{x.name}}</i><b></p></td>
                                <td>{% if x.knowledge_level == 1 %}
                                    <p> - Básico</p>
                                    {% elif x.knowledge_level == 2 %}
                                    <p> - Intermedio</p>
                                    {% elif x.knowledge_level == 3 %}
                                    <p> - Avanzado</p>
                                    {% endif%}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}¨

        <!--IDIOMAS-->
        {% if L_Any %}
            <div class="col-lg-8 col-md-10 mx-auto" align = "center">
                <hr>
                <h2 style= "text-align:center">Idiomas y Lenguajes</h2>
                <table>
                    <tr>
                        <th width = "350">Lenguaje</th>
                        <th>Nivel de conocimiento</th>
                    </tr>
                    <br>
                    {% for x in Skill_Idiomas %}
                        {% if x.category == 'idiomas'%}
                            <tr>
                                <td><p style="font-size: 18px; 
                                              color: #7ca655;"><b><i>{{x.name}}</i></b></p></td>
                                <td><p>{% if x.knowledge_level == 1 %}
                                    - Básico
                                    {% elif x.knowledge_level == 2 %}
                                    - Intermedio
                                    {% elif x.knowledge_level == 3 %}
                                    - Avanzado
                                    {% endif%}</p>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}


        <!--HOBBIES E INTERESES-->
        {% if HI_Any %}
            <div class="col-lg-8 col-md-10 mx-auto">
                <hr />
                <h2 style= "text-align:center">Hobbies e Intereses</h2>
                <br />
                <div>
                    {% for x in Hobbies_Intereses %}
                        <div style="font-size: {{HeaderFontSize}}; color: #7ca655;"><b><i>{{x.name}}</i></b></div>
                        <div style = "font-size: {{LabelFontSize}}"><p>{{x.description | safe}}</p></div>
                        <p>___________________________________________________________</p>
                    {% endfor %}
                    <br />
                    <h4 align="center">Imagenes</h4>
                    <br />
                    <div class="col-lg-10 col-md-4 offset-lg-1">
                            <div id="CarouselImage" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    {% for y in Hobbies_Intereses_Images %}
                                        {% if y.default %}
                                            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" align="center">
                                                <img src="{{y.image.url}}" class="img-fluid" alt="{{y.name}}" style="border: 2px solid black" width = "100%" height = "100%">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" >
                                    <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" >
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                </div>
            </div>
        {% endif %}

    </div>

</div>
{% endblock %}

</html>